<h1>Log In</h1>

<form action="/sessions" method="POST">
  <h4><label for="email">Email:</label></h4>
  <input id="email" type="email" name="email">

  <h4><label for="password">Password:</label></h4>
  <input id="password" type="password" name="password">
  <br><br>
  <input type="submit" value="Log In">
  <a href="/">Back</a>
</form>