<div class="window main">

  <ol>
  <% @entries.each do |entry| %>
    <li><a href="entries/<%= @entry.id %>"><%= entry.time_of_day %></a></li>
  <% end %>
  </ol>

  <div class="button-wrapper">
    <div class="button">
      <a href="/users/<%= @entry.id %>">Home</a>
    </div>
  </div>

</div>