<div>>
NEW ENTRY
</div>
<div>
<form action="/entries" method="POST">
  <label>Time of Day:</label>
  <input type="">

  <label>Feeling</label>
  <input type="">

  <label>Situation:</label>
  <input type="text">

  <label>Intensity:</label>
  <input type="range" name="entry[intensity]" min="0" max="10" step="1" value="3">
  <input type="submit" value="Create Entry">
</form>
</div>