<h1>New Entry</h1>
<div class="form-container">
  <form method="POST" action="/entries">
    <div class="form-group">
      <label for="title">Title:</label><br>
      <input id="title" type="text" name="entry[title]"><br><br>
      <label for="title">Mood Name:</label><br>
      <input id="title" type="text" name="mood[name]"><br><br>
      <label for="mood_amount">Mood Amount:</label><br>
      <input id="mood_amount" type="range" name="mood[amount]" min="-5" max="5" step="1" value="5"><br><br>
      <label for="note">Note:</label><br>
      <input id="note" type="text" name="entry[note]">
    </div>
    <input type="submit" value="Create Entry!">
  </form>
</div>