<h1>New Monster</h1>
<div class="form-container">
  <form method="POST" action="/monsters">
    <div class="form-group">
      <label for="monster_name">Name:</label>
      <input id="monster_name" type="text" name="monster[name]">
    </div>
  </form>
</div>
