<h1>New Moody-mon</h1>
<p>It's time to make a Moody-mon friend!</p>
<p>Your Moody-mon reflects you and your mood entries.</p>
<div class="form-container">
  <form method="POST" action="/monsters">
    <div class="form-group">
      <label for="monster_name">Name:</label>
      <input id="monster_name" type="text" name="monster[name]">
    </div>
    <input type="submit" value="Create Monster!">
  </form>
</div>
