<h1>New Moody-mon</h1>
<h2>It's time to make a Moody-mon friend!</h2>
<h3>Your Moody-mon reflects you and your mood entries.</h3>
<img src="images/monsters/idle.gif">
<div class="form-container">
  <form method="POST" action="/monsters">
    <div class="form-group">
      <label for="monster_name">Name:</label>
      <input id="monster_name" type="text" name="monster[name]">
    </div>
    <input type="submit" value="Create Monster!">
  </form>
</div>
