
<h1>Welcome to Moody-Mon, <%= current_user.name %>!</h1>

<h3>Meet your new Moody-Mon!<h3>

<div class="monster-words">
  "I love <%= current_user.favorite_food %>, too!!!!"
</div>
<div class="container">
  <div class="<%= current_user.favorite_color %>"></div>
  <img class="monster-img" src="/images/monster/monster_neutral.gif" height="300" width="300">
</div>

<form action="/monsters" method="POST">

  <h4><label>What would you like to name your Moody-Mon?</label></h4>
  <input type="text" name="monsters[name]">
  <br><br>
  <input type=submit value="Adopt Moody-Mon!">

</form>