<div>
NEW MONSTER
</div>

<div>
<form action="/monsters" method="POST">
  <label>Monster Name:</label>
  <input type="text" name="monsters[name]" placeholder="Monster Name">

  <input type=submit value="Create Monster">
</form>
</div>
