<div class="window main">
  <h1>Welcome to Moody-Mon, <%= @user.name %>!</h1>
  <h3>Before you can begin tracking your mood, let's find a monster buddy!<h3>
  <h3>To create moods, you interact with your monster buddy. They will keep track of your day-to-day feelings<h3>

  <h3>Let's get started!</h3>
  <div class="form">
    <form action="/monsters" method="POST">
      <label for="monster-img-select">Choose a Monster Type:</label><br>
      <select id="monster-img-select">
        <option data-img-src="" value=""></option>
      </select>
      <br><br>
      <label>What would you like to name them?</label><br>
      <input type="text" name="monsters[name]" placeholder="Monster Name">
      <br><br>
      <input type=submit value="Create Monster">
    </form>
  </div>
</div>
