<div>
SIGN-UP USER
</div>
<div>
<form method="post" action="/users/signup">
<input type="string" name="users[email]" placeholder="Email">
<input type="string" name="users[password]" placeholder="Password">
<input type="text" name="users[name]" placeholder="Name">
<input type="string" name="users[birthday]" placeholder="Birthday">
<input type="text" name="users[favorite_color]" placeholder="Favorite Color">
<input type="text" name="users[favorite_food]" placeholder="Favorite Food">
<input type=submit>
</form>
</div>