<div class="window main">
<h1>Welcome to Moody-Mon.</h1>
<h3>To begin your monster assignment, please fill out the following:</h3>
  <div class="form">
    <form action="/users" method="POST">
      <label for="name">What's your first name?</label><br>
      <input id="name" type="string" name="users[name]">
      <br><br>
      <label for="email">What's your email address?</label><br>
      <input id="email" type="email" name="users[email]">
      <br><br>
      <label for="password">Please create a password:</label><br>
      <input id="password" type="password" name="users[password]">
      <br><br>
      <label for="fav-color">What is your favorite color?</label><br>
      <input id="fav-color" type="text" name="users[favorite_color]">
      <br><br>
      <label for="fav-food">What is your favorite food?</label><br>
      <input id="fav-food" type="text" name="users[favorite_food]">
      <br><br>
      <div class="button">
        <input type=submit value="Sign Up">
      </div>
    </form>
  </div>
</div>