<h1>Signup</h1>

<div class="form-container">
  <form method="POST" action="/signup">
    <div class="form-group">
      <label for="">First Name:</label>
      <input type="" name="" id="">
      <label for="">Last Name:</label>
      <input type="" name="" id="">
      <label for="">Email:</label>
      <input type="" name="" id="">
      <label for="">Password:</label>
      <input type="" name="" id="">
      <label for="">Password Confirmation:</label>
      <input type="" name="" id="">
      <label for="">Hometown:</label>
      <input type="" name="" id="">
      <label for="">Favorite Food:</label>
      <input type="" name="" id="">
    </div>
  </form>
</div>