<div>
Sign Up
</div>

<div>
<form action="/users" method="POST">
  <label for="name">Name:</label>
  <input id="name" type="string" name="users[name]">
  <br>
  <label for="email">Email:</label>
  <input id="email" type="email" name="users[email]">
  <br>
  <label for="password">Password:</label>
  <input id="password" type="password" name="users[password]">
  <br>
  <label for="birthday">Birthday:</label>
  <input id="birthday" type="text" name="users[birthday]">
  <br>
  <label for="fav-color">Favorite Color:</label>
  <input id="fav-color" type="text" name="users[favorite_color]">
  <br>
  <label for="fav-food">Favorite Food:</label>
  <input id="fav-food" type="text" name="users[favorite_food]">
  <br>
  <input type=submit value="Sign Up">
</form>
</div>