<h1>Oops!</h1>

<p style="font-size:300px;margin:0;line-height:1.2;">🚫</p>

<h3>Something Wrong with Assigning Your Moody-Mon!</h3>

<div class="button-wrapper">
  <a href="/monsters/new">Try Again</a>
</div>