<h1>Congrats, <%= @user.name %>!</h1>

<h3>Since you created an entry, you're awarded 10 coins!</h3>

<h3><%= @user.monster.name %> gains 15 experience points!</h3>

<a href="/users/<%= @user.id %>">Your Homepage</a>