<div class="message">
  Welcome to Moody-Mon<br>
  Mood tracking with a monster twist.
</div>

<div class="button-wrapper">
  <div class="button">
    <a href="/users/signup">Sign Up</a>
  </div>

  <div class="button">
    <a href="/sessions/login">Log In</a>
  </div>
</div>