<br>
<h1>Welcome to MOODY-MON!</h1>
<br>
<img src="images/monsters/monster_1_strong.png">
<img src="images/monsters/monster_2_strong.png">
<img src="images/monsters/monster_3_strong.png">
<br><br>
<h4>A mood tracker with a monster twist</h4>
<br>
<a href="/login"><button class="login_button">Log In</button></a>
<a href="/signup"><button class="signup_button">Sign Up</button></a>