<div class="window main">

  <h1>Welcome to Moody-Mon</h1>
  <div class="parent">
  <div class="background">
  <img class="monster" src="/images/monster_edit.png">
  </div>
  </div>

  <h3>Mood tracking with a monster twist.</h3>

  <div class="wrapper button">

    <div class="button">
      <a href="/users/signup">Sign Up</a>
    </div>

    <div class="button">
      <a href="/sessions/login">Log In</a>
    </div>

  </div>

</div>