<div class="window main">

  <div class="wrapper button">

    <div class="button">
      <a href="/users/signup">Sign Up</a>
    </div>

    <div class="button">
      <a href="/sessions/login">Log In</a>
    </div>

  </div>

</div>